# -*- python -*-
# ex: set filetype=python:

# shamelessly repurposed from
# https://github.com/buildbot/buildbot-docker-example-config/blob/master/master.cfg

import os

from buildbot.plugins import *

# This is a sample buildmaster config file. It must be installed as
# 'master.cfg' in your buildmaster's base directory.

# This is the dictionary that the buildmaster pays attention to. We also use
# a shorter alias to save typing.
c = BuildmasterConfig = {}

####### WORKERS

# The 'workers' list defines the set of recognized workers. Each element is
# a Worker object, specifying a unique worker name and password.  The same
# worker name and password must be configured on the worker.

c['workers'] = []
with open('builders', 'r') as builders:
    for entry in builders:
        name = entry.strip()
        c['workers'].append(worker.Worker(name, 'anotherpasswordtoextract'))
        
if 'BUILDBOT_MQ_URL' in os.environ:
    c['mq'] = {
        'type' : 'wamp',
        'router_url': os.environ['BUILDBOT_MQ_URL'],
        'realm': os.environ.get('BUILDBOT_MQ_REALM', 'buildbot').decode('utf-8'),
        'debug' : 'BUILDBOT_MQ_DEBUG' in os.environ,
        'debug_websockets' : 'BUILDBOT_MQ_DEBUG' in os.environ,
        'debug_lowlevel' : 'BUILDBOT_MQ_DEBUG' in os.environ,
    }
# 'protocols' contains information about protocols which master will use for
# communicating with workers. You must define at least 'port' option that workers
# could connect to your master with this protocol.
# 'port' must match the value configured into the workers (with their
# --master option)
c['protocols'] = {'pb': {'port': os.environ.get("BUILDBOT_WORKER_PORT", 9989)}}

####### CHANGESOURCES

# the 'change_source' setting tells the buildmaster how it should find out
# about source code changes.  Here we point to the buildbot clone of pyflakes.

c['change_source'] = []
c['change_source'].append(changes.GitPoller(
        'http://src.vpn.freunds.net/tim/sonic-pi.git',
        workdir='gitpoller-workdir', branch='builds-on-ubuntu',
        pollinterval=30))

####### BUILDERS

# The 'builders' list defines the Builders, which tell Buildbot how to perform a build:
# what steps, and which workers can execute them.  Note that any particular build will
# only take place on one worker.

factory = util.BuildFactory()
# check out the source
factory.addStep(steps.Git(workdir="build/sonic-pi",
                          repourl='http://src.vpn.freunds.net/tim/sonic-pi.git',
                          branch='builds-on-ubuntu', mode='incremental'))
factory.addStep(steps.Git(workdir="build/supercollider",
                          repourl='http://src.vpn.freunds.net/mirrors/supercollider.git',
                          branch='master', mode='incremental'))
factory.addStep(steps.Git(workdir="build/sc3-plugins",
                          repourl='http://src.vpn.freunds.net/mirrors/sc3-plugins.git',
                          branch='master', mode='incremental'))
factory.addStep(steps.Git(workdir="build/aubio",
                          repourl='http://src.vpn.freunds.net/mirrors/aubio.git',
                          branch='master', mode='incremental'))
factory.addStep(steps.Git(workdir="build/osmid",
                          repourl='http://src.vpn.freunds.net/mirrors/osmid.git',
                          branch='master', mode='incremental'))
# run the tests (note that this will require that 'trial' is installed)
factory.addStep(steps.ShellCommand(command=["./sonic-pi/app/gui/qt/build-ubuntu-app"]))

c['builders'] = []
for worker in c['workers']:
    os_version = worker.name.split('-')[1]
    c['builders'].append(
        util.BuilderConfig(name="build-%s" % os_version,
                           workername=str(worker.name),
                           factory=factory))

####### SCHEDULERS

# Configure the Schedulers, which decide how to react to incoming changes.  In this
# case, just kick off a 'runtests' build

c['schedulers'] = []
c['schedulers'].append(schedulers.SingleBranchScheduler(
                            name="all",
                            change_filter=util.ChangeFilter(branch='builds-on-ubuntu'),
                            treeStableTimer=None,
                            builderNames=[b.name for b in c['builders']]))
c['schedulers'].append(schedulers.ForceScheduler(
                            name="force",
                            builderNames=[b.name for b in c['builders']]))

####### STATUS TARGETS

# 'status' is a list of Status Targets. The results of each build will be
# pushed to these targets. buildbot/status/*.py has a variety to choose from,
# like IRC bots.

c['status'] = []

####### PROJECT IDENTITY

# the 'title' string will appear at the top of this buildbot installation's
# home pages (linked to the 'titleURL').

c['title'] = "Sonic Pi"
c['titleURL'] = "https://someurl"

# the 'buildbotURL' string should point to the location where the buildbot's
# internal web server is visible. This typically uses the port number set in
# the 'www' entry below, but with an externally-visible host name which the
# buildbot cannot figure out without some help.

c['buildbotURL'] = os.environ.get("BUILDBOT_WEB_URL", "http://localhost:8010/")

# minimalistic config to activate new web UI
c['www'] = dict(port=os.environ.get("BUILDBOT_WEB_PORT", 8010),
                plugins=dict(waterfall_view={}, console_view={}))

####### DB URL

c['db'] = {
    # This specifies what database buildbot uses to store its state.  You can leave
    # this at its default for all but the largest installations.
    'db_url' : os.environ.get("BUILDBOT_DB_URL", "sqlite://").format(**os.environ),
}
